@charset "utf-8";
/*重置浏览器的默认样式*/
body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img ,video{margin:0;padding:0;border:0;list-style: none; outline:none;}
/*全局控制样式*/
body{font-family:"微软雅黑",Arial, Helvetica, sans-serif; font-size:14px; }
a{color:#333;text-decoration: none;}
@font-face{
	font-family:'freshskin';
    src:url('../fonts/iconfont.ttf');
}  

#lunbo {
    position: relative;
    width: 100%;
    max-width: 2300px; /* 可根据需要调整 */
    height: 700px; /* 可根据需要调整 */
    overflow: hidden;
    margin-left: auto; /* 使容器靠右 */
    right: 0;

}

#lunbo img {
    width: 900px;
    height: 600px;
    position: absolute;
	top: 15px;
	left: 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
	border-radius: 15px;
}

#lunbo img.active {
    opacity: 1;
}


/* 1. 定义动画 */  
@keyframes moveRight {  
  from {  
    transform: translateY(-550px) translateX(1550px);  
  }  
  to {  
    transform: translateY(30px) translateX(1550px);
  }  

}  
  
/* 2. 应用动画 */  
.animated-element {  
  /* 其他样式 */  
  animation-direction: alternate;
  animation-name: moveRight; /* 应用定义的动画 */  
  animation-duration: 7s; /* 动画持续时间 */  
  animation-iteration-count: infinite; /* 无限次循环 */    
}

